<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxm.review">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:name=".ReviewApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ScaleProgressViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AppListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeviceIdActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RlyDecorationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VectorDrawableToImageActivity"
            android:exported="false" />
        <activity
            android:name=".myflow.FlowActivity"
            android:exported="false" />
        <activity
            android:name=".activity.NetChangeListenerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MotionLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdaptationFontActivity"
            android:exported="false" />
        <activity android:name=".activity.ImageInfoActivity" />
        <activity android:name=".activity.ViewDragHelperActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.NormalModeActivity" />
        <activity android:name=".activity.TextSpanActivity" />
        <activity android:name=".activity.RotateDrawableActivity" />
        <activity android:name=".activity.custom.CustomViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ConstraintLayoutActivity" />
        <activity android:name=".activity.LifeActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.ConfigActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.OkHttp3Activity" />
        <activity android:name=".activity.CalendarActivity" />
        <activity android:name=".activity.ShapeActivity" />
        <activity android:name=".activity.PollViewActivity" />
        <activity android:name=".activity.VirtualApkActivity" />
        <activity android:name=".activity.ImageActivity" />
        <activity android:name=".activity.BadgeActivity" />
        <activity android:name=".activity.SharePreActivity" />
        <activity android:name=".activity.ProgressBarActivity" />
        <activity android:name=".activity.TableWithBorderActivity" />
        <activity android:name=".activity.ListActivity" />
        <activity android:name=".activity.VideoActivity" />
        <activity android:name=".activity.RecyclerViewActivity" />
        <activity android:name=".activity.TabHostActivity" />
        <activity android:name=".activity.tab.SimpleTab1Activity" />
        <activity android:name=".activity.tab.SimpleTab2Activity" />
        <activity android:name=".activity.tab.SimpleTab3Activity" />
        <activity android:name=".activity.opengl.OpenGL1Activity" />
        <activity android:name=".activity.opengl.OpenGL2Activity" />
        <activity android:name=".activity.OpenGLActivity" />
        <activity android:name=".activity.AsyncTaskActivity" />
        <activity android:name=".activity.SharedElementActivity" />
        <activity android:name=".activity.PlaceholderActivity" />
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.animation.AnimationActivity" />
        <activity android:name=".activity.JobServiceActivity" />
        <activity android:name=".activity.ui.CalculatorActivity" />
        <activity android:name=".activity.PopupMenuActivity" />
        <activity android:name=".activity.ViewTipsActivity" />
        <activity android:name=".activity.TextSwitcherActivity" />
        <activity android:name=".activity.SimpleToolsTipsActivity" />
        <activity android:name=".activity.motionLayout.MotionLayout1Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout2Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout3Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout4Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout5Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout6Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout7Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout8Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout9Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout10Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout11Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout12Activity" />
        <activity android:name=".activity.motionLayout.MotionLayout13Activity" />
        <activity android:name=".activity.motionLayout.MotionLayoutDemoActivity" />

        <service android:name=".service.CountService" />
        <service
            android:name=".service.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>


</manifest>